{% extends 'base.html.twig' %}

{% block title %}Nom du site{% endblock %}

{% block body %}
    <div style="background-color: #5eb5e0">
        <h1>
            Création d'un événement
        </h1>
    </div>
{% endblock %}