<div id="sideNavBar" style="background-color: lightblue">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('newTimeline') }}">Création de nouvelle chronologie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('timelineList') }}">Voir ses chronologies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Profil</a>
        </li>
    </ul>
</div>